div._e {
  padding-bottom:18px;
  border-bottom:1px dotted #999;
  width:auto;
  margin:18px 10px;
  padding:18px;
  background:#fff;
  font-family:"DejaVu Sans Condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
}
div._e h2 {
    clear:both;
    border-top:1px dotted #999;
    font-size:18px;
}
div._e h3 {
    font-size:16px;
}
div._e h2,
div._e h3 {
    font-family:"Droid Sans",sans;
    font-weight:normal;
    color:#333;
    padding:9px 0;
    background:transparent;
}
p._e_warn {
    background-color:pink;
    border:1px solid brown;
    padding:7px 10px;
    color:brown;
    font-weight:bold;
}
span._e_msg {
    color:brown;
    font-weight:bold;
}

span._e_line {
    color:#669933;
}

span._e_file {
    color:#336699;
}

span._e_level {
    color:red;
}
div._e table {
	border-collapse:collapse;
}
div._e table {
	width:100%;
}
div._e table th, div._e table td {
	border-bottom:1px solid #ccc;
	vertical-align:top;
	text-align:left;
	padding:9px;
	width:20%;
}

div._e table th {
    color:#126875;
    font-weight:bold;
}

div._e table td {
    font-family:monospace;
    white-space:pre;
    color: #505050;
	width:80%;
}

div._e table tr:last-child td,
div._e table tr:last-child th {
	border:0;
}
._e_backtrace ._e_msg {
	font-family:monospace;
    white-space:pre;
	font-size:120%;
}
._e_backtrace ._e_msg ._e_type {
	color:#666;
}
